body {
    font-family: HK Grotesk;
    background-image: url("https://cdn.glitch.com/37f5341b-4972-4df2-898e-dfe5202cecba%2F139440486_890821271668395_6705084421086162674_n.jpg?v=1624392844057");
    background-size: cover;
    color: white;
}